---
---

@import "/assets/main.css";

h3 {
  padding-top: 1em;
}

.exercise {
  h1 {
    padding: 0;
  }
  border: 0.15rem solid gray;
  background-color: whitesmoke;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
}
pre {
  padding: 0;
  code {
    padding: 8px 12px !important;
  }
}

.hint {
  font-size: small;
  border: 0.15rem solid green;
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
}