<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %} {{ site.author | escape }} {% else %} {{ site.title | escape }} {% endif %}
          </li>
          <li>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
          <img alt="Creative Commons -lisenssi" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" />
        </a>
        <br /> Material is licensed with
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0
          -license</a>.
      </div>
    </div>

  </div>

</footer>