<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper"
    style="border: 4px dashed black; background-color: whitesmoke; padding: 1em; margin-bottom: 1em;">
    <p>
      The enrolment period ends 23.01.2021. Read through <a href="https://devopswithdocker.com/completion/">completion guide</a> to enrol before the end! <b>There is 24h wait between enrolment and access to the exam.</b>
    </p>
    <p>
      The 2020 course ends 24.01.2021. Make sure you submit your progress and do the "Final Exercise" exam before that. Check <a href="https://studies.cs.helsinki.fi/stats/courses/docker2020">submission software</a> to approximate the amount of time required for each part.
    </p>
    <p>
      The <a href="https://studies.helsinki.fi/courses/cur/hy-CUR-135622221/Open_uni_DevOps_with_Docker_2021">2021 course</a> starts 17.03.2020, and the format will be the same 1-3 credits split into 3 parts.
      You can expand your 2020 course completion. You should submit your progress and do the "Final Exercise" if you want to avoid having to redo exercises in parts that you've already done by 24.01.
    </p>
    <p>
      The course material is still available here during the downtime, but will undergo changes.
    </p>
  </div>
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>

</html>