<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}
  <div style="position: fixed; border: 2px dashed gray; background-color: whitesmoke; padding: 2px; margin: 1em; transform: translate(-50%); margin-left: 50%;">
    Course starts 15.04.2020
  </div>
  <main class="page-content" aria-label="Content">

    <div class="wrapper"
      style="border: 4px dashed black; background-color: whitesmoke; padding: 1em; margin-bottom: 1em;">
      <p>
        The <a href="https://courses.helsinki.fi/en/aytkt21025en/132141109">2020 course</a> starts 15.04.2020, and you can expand your 2019 course completion.
        The course material is still available here during the downtime.
      </p>
    </div>
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>

</html>