<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper"
    style="border: 4px dashed black; background-color: whitesmoke; padding: 1em; margin-bottom: 1em;">
    
    <p>
    The pages are currently being updated! You can message me in the telegram channel about all old information.
    </p>
    <p>
      The <a href="https://studies.helsinki.fi/courses/cur/hy-CUR-135622221/Open_uni_DevOps_with_Docker_2021">2021 course</a> starts 17.03.2021, and the format will be the same 1-3 credits split into 3 parts.
      You can expand your 2020 course completion.
    </p>
    <p>
      The old 2020 course material is available in <a href="https://jakousa.github.io">https://jakousa.github.io</a>. Exercises will be updated, so to avoid doing them twice don't do them before 17.03.2021.
    </p>
  </div> 
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>

</html>