---
layout: default
---

<div class="home">

  <img src="/images/logo.png" alt="Logo"></img>

  <p>
    This course is an introductory course to Docker and docker-compose. Also peek into the various parts that web services consist of such as reverse proxies, databases etc. Students will need to provide their own computers to follow the examples outlined in this course material and to complete the exercises.
  </p>
  <p>
    <b> Attendees need to provide their own computers with admin / superuser priviledges. </b> Required software can <b>not</b> be installed on shared computers such as library or universitys computers. 
  </p>

  <p>
    Course details and starting instructions can be found in <a href="/part0">part 0</a>.
  </p>

  <h2>We've partnered with Eficode, the leading DevOps company in Europe!</h2>

  <div style="font-size: 2em; text-align: center;">
      <img style="width: 33%;" src="/images/hy_logo.svg" alt="University of Helsinki"></img>
      &#10084
      <img style="width: 33%;" src="/images/eficode_logo_black.svg" alt="Eficode"></img>
  </div>
  <br />
  <h1 class="page-heading">Credits and licence</h1>

  <p id="credits">
    Course material has been done by <a href='https://github.com/jakousa'>Jami Kousa</a> with the help of University of Helsinki's Tietojenkäsittelytieteen osaston sovelluskehitysakatemia (Toska) and <a href="https://github.com/docker-hy/docker-hy.github.io/graphs/contributors">numerous course attendees</a>. 
    This material is based on <a href="https://gist.github.com/matti/0b44eb865d70d98ffe0351fd8e6fa35d">gist</a> by <a href="https://github.com/matti">Matti Paksula</a>.
    You can help <a href='/contributing'>develop</a> the course material as well.
  </p>
  <p>
    This material is following the official Docker guidelines presented on the <a href='https://www.docker.com/legal/trademark-guidelines'>official website</a>. 
    If you find anything conflicting or otherwise prohibited use, please inform us and we'll make the required changes.
  </p>
  <p> 
    This material is licenced under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 -licence</a>, 
    so you can freely use and distribute the material, as long as original creators are credited. If you make changes to material and you want to distribute altered version it must be licenced under the same licence.  
    Usage of material for commercial use is prohibited without permission.
  </p>


  
</div>
